.combo-box .cell{
    -fx-text-fill: #b60109;
    -fx-font: 13px "Couture";
}
.my-list-cell {
    -fx-text-fill: #b60109;
    -fx-font: 13px "Couture";
    /* No alternate highlighting */
    -fx-background-color: #fffFff;
}

.combo-box .cell:selected {
    -fx-text-fill: red;
}