.combo-box .cell{
    -fx-text-fill: blue;
    -fx-font: 16px "Arial Black";
}
.my-list-cell {
    -fx-text-fill: blue;
    -fx-font: 16px "Arial Black";
    /* No alternate highlighting */
    -fx-background-color: #b60109;
}

.combo-box .cell:selected {
    -fx-text-fill: white;
}