.combo-box .cell{
    -fx-text-fill: #b60109;
    -fx-font: 13px "Arial Black";
}
.my-list-cell {
    -fx-text-fill: blue;
    -fx-font: 13px "Arial Black";
    /* No alternate highlighting */
    -fx-background-color: #fffff;
}

.combo-box .cell:selected {
    -fx-text-fill: red;
}